@use "../abstracts/variables";

.card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  height: 52rem;
  position: relative;
  transform-style: preserve-3d;

  &__side {
    height: 52rem;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
    border-radius: .3rem;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    transition: all .8s ease;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;

    &--front {
      background-color: variables.$color-white;
    }

    &--back {
      transform: rotateY(180deg);
      display: grid;
      place-content: center;

      &-1 {
        background-image: linear-gradient(to right bottom, #ffb900, #ff7730);
      }

      &-2 {
        background-image: linear-gradient(to right bottom,
            variables.$color-primary-light,
            variables.$color-primary-dark );
      }

      &-3 {
        background-image: linear-gradient(to right bottom, #2998ff, #5643fa);
      }
    }
  }

  &:hover &__side--front {
    transform: rotateY(-180deg);
  }

  &:hover &__side--back {
    transform: rotateY(0);
  }

  &__picture {
    height: 23rem;
    background-size: cover;
    background-blend-mode: screen;
    clip-path: polygon(0% 0, 100% 0, 100% 85%, 0 100%);

    &--1 {
      background-image: linear-gradient(to right bottom, #ffb900, #ff7730),
        url(../img/nat-5.jpg);
    }

    &--2 {
      background-image: linear-gradient(to right bottom,
          variables.$color-primary-light,
          variables.$color-primary-dark ),
        url(../img/nat-6.jpg);
    }

    &--3 {
      background-image: linear-gradient(to right bottom, #2998ff, #5643fa),
        url(../img/nat-7.jpg);
    }
  }

  &__heading {
    text-transform: uppercase;
    font-size: 3rem;
    font-weight: 300;
    color: variables.$color-white;
    text-align: right;
    width: 75%;

    position: absolute;
    top: 12rem;
    right: 2rem;
  }

  &__heading-span {
    padding: 1rem 1.5rem;
    box-decoration-break: clone;

    &-1 {
      background-image: linear-gradient(to right bottom,
          rgba(#ffb900, 0.85),
          rgba(#ff7730, 0.85));
    }

    &-2 {
      background-image: linear-gradient(to right bottom,
          rgba(variables.$color-primary-light, 0.85),
          rgba(variables.$color-primary-dark, 0.85));
    }

    &-3 {
      background-image: linear-gradient(to right bottom,
          rgba(#2998ff, 0.85),
          rgba(#5643fa, 0.85));
    }
  }

  &__details {
    padding: 3rem;

    ul {
      list-style: none;
      width: 80%;
      margin: 0 auto;

      li {
        text-align: center;
        font-size: 1.6rem;
        padding: 1rem;

        &:not(:last-child) {
          border-bottom: 0.1rem solid #eee;
        }
      }
    }
  }

  &__cta {
    text-align: center;
  }

  &__price {
    &-box {
      margin-bottom: 8rem;
      color: white;
    }

    &-only {
      text-transform: uppercase;
      font-size: 1.3rem;
    }

    &-value {
      font-size: 6rem;
      font-weight: 100;
    }
  }
}