@use "../abstracts/variables";
@use "../abstracts/mixins" as *;

.composition {
  position: relative;

  &__photo {
    width: 55%;

    @include respond(phone, tab-port) {
      width: 40%;
    }

    box-shadow: 0 1.5rem 4rem rgba(variables.$color-black, 0.4);
    border-radius: 0.1rem;
    position: absolute;
    transition: all 0.2s;

    &:hover {
      z-index: 20;
      transform: scale(1.2);
      outline: 1rem solid variables.$color-primary-light;
      outline-offset: 1rem;
      border-radius: 1rem;
      cursor: pointer;
    }

    &__p1 {
      top: 0;
      left: 0;
    }

    &__p2 {
      top: 5rem;
      left: 43%;
    }

    &__p3 {
      top: 12rem;
      left: 17%;
    }

    @include respond(phone, tab-port) {
      &__p1 {
        top: 2rem;
        left: -.5rem;
      }

      &__p2 {
        top: 2rem;
        left: 60%;
      }

      &__p3 {
        top: 0;
        left: 30%;
      }
    }
  }

  &:hover &__photo:not(:hover) {
    transform: scale(0.9);
  }
}