@charset "UTF-8";
/*
    0 - 600px = mobile
    600px - 900px = portrait tablet
    900px - 1200px = landscape tablet
    [1200px - 1800px] = desktop (normal style : desktop first)
    1800px - § = large desktop

    This mixins are used to create media queries for responsive design.

    1em = 16px
    We use em because it is relative to the parent element
    Wich is the font-size used in the browser settings (usually 16px)
*/
:root {
  --color-primary: #eb2f64;
  --color-primary-light: #FF3366;
  --color-primary-dark: #BA265D;
  --color-grey-light-1: #faf9f9;
  --color-grey-light-2: #f4f2f2;
  --color-grey-light-3: #f0eeee;
  --color-grey-light-4: #ccc;
  --color-grey-dark-1: #333;
  --color-grey-dark-2: #777;
  --color-grey-dark-3: #999;
  --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, 0.3);
  --shadow-light: 0 2rem 5rem rgba(0, 0, 0, 0.06);
  --line: 1px solid var(--color-grey-light-2);
  --color-white: #fff;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}
@media only screen and (min-width: 56.25em) and (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}
@media only screen and (min-width: 37.5em) and (max-width: 56.25em) {
  html {
    font-size: 54%;
  }
}
@media only screen and (max-width: 37.5em) {
  html {
    font-size: 52%;
  }
}
@media only screen and (min-width: 2400px) {
  html {
    font-size: 75%;
  }
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: var(--color-grey-dark-2);
  background-image: linear-gradient(to right bottom, var(--color-primary-light), var(--color-primary-dark));
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}

.logo {
  height: 3rem;
  margin-left: 2rem;
}

.search {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 40%;
}
@media only screen and (max-width: 37.5em) {
  .search {
    flex-basis: 100%;
    order: 1;
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-color: var(--color-grey-light-2);
  }
}
.search__input {
  font-size: inherit;
  font-family: inherit;
  padding: 0.8rem 2rem;
  border-radius: 3rem;
  background-color: var(--color-grey-light-2);
  color: var(--color-grey-dark-2);
  border: none;
  margin-right: -3.5rem;
  width: 90%;
  transition: all 0.5s;
}
.search__input::-moz-placeholder {
  color: var(--color-grey-light-4);
  font-weight: 100;
}
.search__input:-ms-input-placeholder {
  color: var(--color-grey-light-4);
  font-weight: 100;
}
.search__input::placeholder {
  color: var(--color-grey-light-4);
  font-weight: 100;
}
.search__input:focus {
  outline: none;
  width: 100%;
  background-color: var(--color-grey-light-3);
}
.search__input:focus + .search__button {
  background-color: var(--color-grey-light-3);
}
.search__button {
  border: none;
  background-color: transparent;
}
.search__button:active {
  outline: none;
  transform: translateY(0.3rem);
}
.search__icon {
  width: 2rem;
  aspect-ratio: 1;
  fill: var(--color-grey-dark-3);
}

.user-nav {
  display: flex;
  align-items: stretch;
  align-self: stretch;
}
.user-nav > * {
  padding: 0 2rem;
  cursor: pointer;
  display: flex;
  align-items: center;
}
.user-nav > *:hover {
  background-color: var(--color-grey-light-3);
}
.user-nav__icon-box {
  position: relative;
}
.user-nav__icon {
  width: 2.25rem;
  aspect-ratio: 1;
  fill: var(--color-grey-dark-2);
}
.user-nav__notification {
  display: grid;
  place-content: center;
  position: absolute;
  width: 1.8rem;
  aspect-ratio: 1;
  top: 1.3rem;
  right: 1.3rem;
  background-color: var(--color-primary);
  color: var(--color-white);
  border-radius: 50%;
  font-size: 0.8rem;
  font-weight: 700;
}
.user-nav__user {
  gap: 1rem;
  position: relative;
}
.user-nav__user-photo {
  width: 4rem;
  border-radius: 50%;
}
.user-nav__user:hover .user-nav__user-menu {
  opacity: 1;
  height: 22rem;
}
.user-nav__user-menu {
  transition: all 0.5s;
  opacity: 0;
  position: absolute;
  top: 7rem;
  left: 0;
  list-style: none;
  color: white;
  z-index: 11;
  background-color: var(--color-grey-dark-1);
  height: 0;
}
@media only screen and (max-width: 37.5em) {
  .user-nav__user-menu {
    top: 4rem;
  }
}
.user-nav__user-menu__item {
  padding: 1rem 2rem;
  cursor: pointer;
  position: relative;
}
.user-nav__user-menu__item::before {
  content: "";
  width: 5px;
  height: 100%;
  background-color: var(--color-primary);
  position: absolute;
  top: 0;
  left: 0;
  transform: scaleY(0);
  transition: transform 0.5s, width 0.3s 0.3s ease;
  z-index: -1;
}
.user-nav__user-menu__item:hover::before {
  transform: scaleY(1);
  width: 100%;
}

/* ************** */
.side-nav {
  list-style: none;
  margin-top: 3.5rem;
}
@media only screen and (max-width: 37.5em) {
  .side-nav {
    display: flex;
    margin-top: 0;
  }
}
@media only screen and (min-width: 37.5em) and (max-width: 56.25em) {
  .side-nav {
    display: flex;
    margin-top: 0;
  }
}
.side-nav__item {
  position: relative;
}
@media only screen and (max-width: 37.5em) {
  .side-nav__item {
    flex: 1;
  }
}
@media only screen and (min-width: 37.5em) and (max-width: 56.25em) {
  .side-nav__item {
    flex: 1;
  }
}
.side-nav__item:not(:last-child) {
  margin-bottom: 0.5rem;
}
@media only screen and (max-width: 37.5em) {
  .side-nav__item:not(:last-child) {
    margin-bottom: 0;
  }
}
@media only screen and (min-width: 37.5em) and (max-width: 56.25em) {
  .side-nav__item:not(:last-child) {
    margin-bottom: 0;
  }
}
.side-nav__item::before {
  content: "";
  width: 5px;
  height: 100%;
  background-color: var(--color-primary);
  position: absolute;
  top: 0;
  left: 0;
  transform: scaleY(0);
  transition: transform 0.5s, width 0.3s 0.3s ease;
}
.side-nav__item:hover::before, .side-nav__item--active::before {
  transform: scaleY(1);
  width: 100%;
}
.side-nav__item:active::before {
  background-color: var(--color-primary-light);
}
.side-nav__link {
  padding: 1.5rem 3rem;
  width: 100%;
  color: var(--color-white);
  font-size: 1.5rem;
  font-weight: 400;
  text-decoration: none;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  gap: 2rem;
  position: relative;
  z-index: 10;
}
@media only screen and (max-width: 37.5em) {
  .side-nav__link span {
    display: none;
  }
}
@media only screen and (max-width: 37.5em) {
  .side-nav__link {
    flex-direction: column;
    text-align: center;
    gap: 1rem;
    padding: 2rem;
    font-size: 1rem;
  }
}
@media only screen and (min-width: 37.5em) and (max-width: 56.25em) {
  .side-nav__link {
    flex-direction: column;
    text-align: center;
    gap: 1rem;
    padding: 2rem;
    font-size: 1rem;
  }
}
.side-nav__icon {
  width: 2rem;
  aspect-ratio: 1;
  fill: currentColor;
}

.legal {
  font-size: 1.2rem;
  color: var(--color-grey-light-4);
  text-align: center;
  padding: 2rem;
}
@media only screen and (max-width: 37.5em) {
  .legal {
    display: none;
  }
}
@media only screen and (min-width: 37.5em) and (max-width: 56.25em) {
  .legal {
    display: none;
  }
}

/* ************** */
.gallery {
  display: flex;
}
.gallery img {
  width: 100%;
  display: block;
}

/* ************** */
.overview {
  display: flex;
  background-color: var(--color-white);
  height: auto;
  align-items: center;
  border-bottom: 1px solid var(--color-grey-light-2);
  font-size: 1.2rem;
}
.overview__heading {
  font-size: 2.25rem;
  font-weight: 300;
  text-transform: uppercase;
  color: var(--color-grey-dark-2);
  padding: 1.5rem 2.5rem;
  letter-spacing: 1px;
}
@media only screen and (max-width: 37.5em) {
  .overview__heading {
    font-size: 1.4rem;
    padding: 0;
    padding-left: 1rem;
    flex: 0 0 30%;
    letter-spacing: normal;
    margin-right: auto;
  }
}
@media only screen and (min-width: 37.5em) and (max-width: 56.25em) {
  .overview__heading {
    font-size: 1.4rem;
    padding: 0;
    padding-left: 1rem;
    flex: 0 0 30%;
    letter-spacing: normal;
    margin-right: auto;
  }
}
.overview__stars {
  margin-right: auto;
  display: flex;
}
.overview__location {
  display: flex;
  align-items: center;
}
.overview__rating {
  color: var(--color-white);
  background-color: var(--color-primary);
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem 2rem;
  margin-left: 3rem;
}
@media only screen and (max-width: 37.5em) {
  .overview__rating {
    margin-left: 2rem;
    padding: 1rem 1.5rem;
  }
}
@media only screen and (min-width: 37.5em) and (max-width: 56.25em) {
  .overview__rating {
    margin-left: 2rem;
    padding: 1rem 1.5rem;
  }
}
.overview__rating-average {
  font-size: 2.2rem;
  font-weight: 400;
}
.overview__rating-count {
  font-size: 1rem;
  font-weight: 300;
}
.overview [class*=icon] {
  width: 1.8rem;
  aspect-ratio: 1;
  fill: var(--color-primary);
}
@media only screen and (max-width: 37.5em) {
  .overview [class*=icon] {
    width: 1.5rem;
  }
}

/* ************** */
.btn-inline {
  font-size: inherit;
  padding: 0.3rem;
  cursor: pointer;
  background: none;
  border: none;
  color: var(--color-primary);
  border-bottom: 1px solid currentColor;
  transition: 0.5s ease;
}
.btn-inline:hover {
  color: var(--color-grey-dark-2);
}
.btn-inline:focus {
  -webkit-animation: pulsate 0.5s infinite;
          animation: pulsate 0.5s infinite;
}

@-webkit-keyframes pulsate {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes pulsate {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
/* ************** */
.paragraph:not(:last-of-type) {
  margin-bottom: 2rem;
}

.list {
  list-style: none;
  border-top: 1px solid var(--color-grey-light-2);
  border-bottom: 1px solid var(--color-grey-light-2);
  padding: 3rem 0;
  margin: 3rem 0;
  display: flex;
  flex-wrap: wrap;
}
.list__item {
  flex: 0 0 50%;
  padding: 0.4rem;
}
.list__item::before {
  content: "";
  display: inline-block;
  height: 1rem;
  aspect-ratio: 1;
  -webkit-mask-image: url("../img/chevron-thin-right.svg");
          mask-image: url("../img/chevron-thin-right.svg");
  -webkit-mask-size: cover;
          mask-size: cover;
  background-color: var(--color-primary);
  margin-right: 0.7rem;
}

.recommend {
  display: flex;
  align-items: center;
}
.recommend__counts {
  margin-right: auto;
  font-size: 1.3rem;
  color: var(--color-grey-dark-3);
}
.recommend__friends {
  display: flex;
}
.recommend__photo {
  box-sizing: content-box;
  width: 4rem;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 3px solid white;
}
.recommend__photo:not(:last-child) {
  margin-right: -1.5rem;
}

/* ************** */
.review {
  background-color: white;
  padding: 3rem;
  box-shadow: var(--shadow-light);
  overflow: hidden;
}
.review:not(:last-child) {
  margin-bottom: 3rem;
}
.review__text {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: 2rem;
  position: relative;
  z-index: 2;
}
.review__text::before {
  content: "“";
  font-size: 22rem;
  color: var(--color-grey-light-3);
  position: absolute;
  top: -12rem;
  left: -4rem;
  font-family: FreeSerif, sans-serif;
  z-index: -1;
}
.review__user {
  display: flex;
  align-items: center;
}
.review__photo {
  width: 5rem;
  aspect-ratio: 1;
  border-radius: 50%;
  margin-right: 1rem;
}
.review__user-box {
  margin-right: auto;
  display: flex;
  flex-direction: column;
}
.review__user-name {
  font-size: 1.2rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
  text-transform: uppercase;
}
.review__user-date {
  font-size: 1.1rem;
  font-weight: 300;
  color: var(--color-grey-dark-2);
}
.review__rating {
  font-size: 2.3rem;
  font-weight: 200;
  color: var(--color-primary);
}

.cta {
  background-color: white;
  padding: 4rem 0;
  text-align: center;
}
@media only screen and (max-width: 37.5em) {
  .cta {
    padding: 2rem 0;
  }
}
@media only screen and (min-width: 37.5em) and (max-width: 56.25em) {
  .cta {
    padding: 2rem 0;
  }
}
.cta__book-now {
  text-transform: uppercase;
  font-size: 2.3rem;
  font-weight: 300;
  margin-bottom: 3rem;
}

.btn {
  background-image: linear-gradient(to left, var(--color-primary-light), var(--color-primary-dark));
  border: none;
  padding: 2rem;
  width: 25rem;
  color: white;
  text-transform: uppercase;
  font-size: 1.8rem;
  border-radius: 10rem;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
.btn__visible {
  display: inline-block;
  transition: all 0.5s;
}
.btn__invisible {
  display: inline-block;
  position: absolute;
  top: 6rem;
  left: 4rem;
  transition: all 0.5s;
  opacity: 0;
}
.btn:hover {
  background-image: linear-gradient(to right, var(--color-primary-light), var(--color-primary-dark));
}
.btn:focus {
  -webkit-animation: pulsate 0.5s infinite;
          animation: pulsate 0.5s infinite;
}

.btn:hover .btn__invisible {
  opacity: 1;
  transform: translateY(-4rem);
}

.btn:hover .btn__visible {
  transform: translateY(-4rem);
  opacity: 0;
}

.container {
  max-width: 120rem;
  min-height: 50rem;
  background-color: var(--color-grey-light-2);
  box-shadow: var(--shadow-dark);
  margin: 8rem auto;
}
@media only screen and (max-width: 37.5em) {
  .container {
    margin: 0;
  }
}
@media only screen and (min-width: 37.5em) and (max-width: 56.25em) {
  .container {
    margin: 0;
  }
}

.header {
  font-size: 1.4rem;
  height: 7rem;
  background-color: var(--color-white);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--color-grey-light-2);
}
@media only screen and (max-width: 37.5em) {
  .header {
    flex-wrap: wrap;
    height: auto;
    padding-top: 1rem;
  }
}

.content {
  background-color: var(--color-grey-light-1);
  display: flex;
}
@media only screen and (max-width: 37.5em) {
  .content {
    flex-direction: column;
  }
}
@media only screen and (min-width: 37.5em) and (max-width: 56.25em) {
  .content {
    flex-direction: column;
  }
}

.sidebar {
  background-color: var(--color-grey-dark-1);
  flex: 0 0 18%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hotel-view {
  flex: 1;
}

.details {
  display: flex;
  gap: 4rem;
  padding: 4rem;
  border-bottom: var(--line);
  font-size: 1.4rem;
}
@media only screen and (max-width: 37.5em) {
  .details {
    flex-direction: column;
    height: auto;
    padding: 2rem;
    gap: 2rem;
  }
}
@media only screen and (min-width: 37.5em) and (max-width: 56.25em) {
  .details {
    flex-direction: column;
    height: auto;
    padding: 2rem;
    gap: 2rem;
  }
}

.description {
  flex-basis: 60%;
  box-shadow: var(--shadow-light);
  padding: 3rem;
  background-color: white;
}

.user-reviews {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}/*# sourceMappingURL=main.css.map */