*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #777;
  padding: 3rem;
  box-sizing: border-box;
}

@-webkit-keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-20rem);
  }
  80% {
    transform: translateX(1rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-20rem);
  }
  80% {
    transform: translateX(1rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@-webkit-keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(20rem);
  }
  80% {
    transform: translateX(-1rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(20rem);
  }
  80% {
    transform: translateX(-1rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@-webkit-keyframes bounce {
  20% {
    transform: translateY(-2rem);
  }
  40% {
    transform: translateY(0.5rem);
  }
  60% {
    transform: translateY(-2rem);
  }
  80% {
    transform: translateY(0.5rem);
  }
  100% {
    transform: translate(0);
  }
}
@keyframes bounce {
  20% {
    transform: translateY(-2rem);
  }
  40% {
    transform: translateY(0.5rem);
  }
  60% {
    transform: translateY(-2rem);
  }
  80% {
    transform: translateY(0.5rem);
  }
  100% {
    transform: translate(0);
  }
}
@-webkit-keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(5rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(5rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
.heading-primary {
  text-transform: uppercase;
  color: white;
  margin-bottom: 6rem;
}
.heading-primary__main {
  display: block;
  letter-spacing: 3.5rem;
  font-size: 6rem;
  font-weight: 400;
  -webkit-animation-name: moveInLeft;
          animation-name: moveInLeft;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
}
.heading-primary__sub {
  display: block;
  letter-spacing: 1.7rem;
  font-size: 2rem;
  font-weight: 700;
  -webkit-animation-name: moveInRight;
          animation-name: moveInRight;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

@media only screen and (max-width: 600px) {
  html {
    font-size: 48%;
  }
  body {
    padding: 0;
  }
  .header {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
            clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
  }
  .heading-primary__main {
    letter-spacing: 1rem;
  }
  .heading-primary__sub {
    letter-spacing: 0.5rem;
  }
}
@media only screen and (min-width: 600px) {
  html {
    font-size: 50%;
  }
}
@media only screen and (min-width: 768px) {
  html {
    font-size: 53%;
  }
}
@media only screen and (min-width: 992px) {
  html {
    font-size: 56.25%;
  }
}
@media only screen and (min-width: 992px) {
  html {
    font-size: 75%;
  }
}
.btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 5rem;
  position: relative;
  transition: all 0.2s;
  font-size: 1.6rem;
}
.btn:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0rem 1rem 2rem rgba(0, 0, 0, 0.2);
}
.btn:active {
  transform: translateY(0.1rem);
  box-shadow: 0rem 0.5rem 1rem rgba(0, 0, 0, 0.2);
}
.btn--white {
  background-color: white;
  color: #777;
}
.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background-color: white;
  transition: all 0.4s;
}
.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}
.btn--animated {
  -webkit-animation: moveInBottom 0.4s ease-out 0.75s;
          animation: moveInBottom 0.4s ease-out 0.75s;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}

.header {
  height: 95vh;
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url(../img/hero-small.jpg);
  background-size: cover;
  background-position: top;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
          clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  position: relative;
}
.header__logo {
  height: 3.5rem;
}
.header__logo:hover {
  -webkit-animation-name: bounce;
          animation-name: bounce;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}
.header__logo-box {
  position: absolute;
  top: 4rem;
  left: 4rem;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}
.header__text-box {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.row {
  max-width: 114rem;
  background-color: #eee;
  margin: 0 auto;
  color: white;
}
.row:not(:last-child) {
  margin-bottom: 8rem;
}
.row::after {
  content: "";
  display: table;
  clear: both;
}
.row [class^=col-] {
  background-image: linear-gradient(225deg, rgb(25, 136, 247) 0%, rgb(247, 25, 136) 100%);
  float: left;
  padding: 1rem;
}
.row [class^=col-]:not(:last-child) {
  margin-right: 3rem;
}
.row .col-1-of-2 {
  width: calc((100% - 3rem) / 2);
}
.row .col-1-of-3 {
  width: calc((100% - 2 * 3rem) / 3);
}
.row .col-1-of-4 {
  width: calc((100% - 3 * 3rem) / 4);
}
.row .col-2-of-3 {
  width: calc(
      2 * ((100% - 2 * 3rem) / 3) + 3rem
    );
}
.row .col-2-of-4 {
  width: calc(
      2 * ((100% - 3 * 3rem) / 4) + 3rem
    );
}
.row .col-3-of-4 {
  width: calc(
      3 * ((100% - 3 * 3rem) / 4) + 2 * 3rem
    );
}/*# sourceMappingURL=main.css.map */