*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #777;
  padding: 3rem;
  box-sizing: border-box;
}

@-webkit-keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-20rem);
  }
  80% {
    transform: translateX(1rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-20rem);
  }
  80% {
    transform: translateX(1rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@-webkit-keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(20rem);
  }
  80% {
    transform: translateX(-1rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(20rem);
  }
  80% {
    transform: translateX(-1rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@-webkit-keyframes bounce {
  20% {
    transform: translateY(-2rem);
  }
  40% {
    transform: translateY(0.5rem);
  }
  60% {
    transform: translateY(-2rem);
  }
  80% {
    transform: translateY(0.5rem);
  }
  100% {
    transform: translate(0);
  }
}
@keyframes bounce {
  20% {
    transform: translateY(-2rem);
  }
  40% {
    transform: translateY(0.5rem);
  }
  60% {
    transform: translateY(-2rem);
  }
  80% {
    transform: translateY(0.5rem);
  }
  100% {
    transform: translate(0);
  }
}
@-webkit-keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(5rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(5rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
.heading-primary {
  text-transform: uppercase;
  color: white;
  margin-bottom: 6rem;
}
.heading-primary__main {
  display: block;
  letter-spacing: 3.5rem;
  font-size: 6rem;
  font-weight: 400;
  -webkit-animation-name: moveInLeft;
          animation-name: moveInLeft;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
}
.heading-primary__sub {
  display: block;
  letter-spacing: 1.7rem;
  font-size: 2rem;
  font-weight: 700;
  -webkit-animation-name: moveInRight;
          animation-name: moveInRight;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

.heading-secondary {
  font-size: 3.5rem;
  font-weight: 700;
  text-transform: uppercase;
  background-image: linear-gradient(to right, #7ed56f, #28b485);
  display: inline-block;
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
  letter-spacing: 0.2rem;
  transition: all 1s;
}
.heading-secondary:hover {
  transform: scale(105%);
  text-shadow: 0.5rem 1rem 1rem rgba(0, 0, 0, 0.2);
}

.heading-tertiary {
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #777;
  margin-bottom: 2rem;
}

.paragraph {
  font-size: 1.6rem;
  font-weight: 500;
}
.paragraph:not(:last-child) {
  margin-bottom: 3rem;
}

.u-center-text {
  text-align: center;
}

.u-margin-bottom-big {
  margin-bottom: 8rem;
}

.u-margin-bottom-medium {
  margin-bottom: 4rem;
}

.u-margin-bottom-small {
  margin-bottom: 2rem;
}

@media only screen and (max-width: 600px) {
  html {
    font-size: 48%;
  }
  body {
    padding: 0;
  }
  .header {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
            clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
  }
  .heading-primary__main {
    letter-spacing: 1rem;
  }
  .heading-primary__sub {
    letter-spacing: 0.5rem;
  }
  .section-about > .row {
    max-width: 50rem;
  }
  .section-about > .row [class^=col-] {
    width: 100% !important;
  }
}
@media only screen and (min-width: 600px) {
  html {
    font-size: 50%;
  }
}
@media only screen and (min-width: 768px) {
  html {
    font-size: 53%;
  }
}
@media only screen and (min-width: 992px) {
  html {
    font-size: 62.5%;
  }
}
@media only screen and (min-width: 112em) {
  html {
    font-size: 75%;
  }
}
.section-about {
  background-color: #f7f7f7;
  padding: 25rem 0;
  margin-top: -20rem;
}

.section-features {
  padding: 20rem 0;
  margin-top: -10rem;
  height: 95vh;
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url(../img/nat-4.jpg);
  background-size: cover;
  background-position: top;
  transform: skewY(-7deg);
}
.section-features > * {
  transform: skewY(7deg);
}

.btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 5rem;
  position: relative;
  transition: all 0.2s;
  font-size: 1.6rem;
}
.btn:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0rem 1rem 2rem rgba(0, 0, 0, 0.2);
}
.btn:active {
  transform: translateY(0.1rem);
  box-shadow: 0rem 0.5rem 1rem rgba(0, 0, 0, 0.2);
}
.btn--white {
  background-color: white;
  color: #777;
}
.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background-color: white;
  transition: all 0.4s;
}
.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}
.btn--animated {
  -webkit-animation: moveInBottom 0.4s ease-out 0.75s;
          animation: moveInBottom 0.4s ease-out 0.75s;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}

.btn-text {
  display: inline-block;
  font-size: 1.6rem;
  padding: 0.8rem;
  color: #7ed56f;
  transition: all 0.4s;
  text-decoration: none;
  border-bottom: 1px solid #7ed56f;
}
.btn-text:hover {
  transform: translateY(-0.2rem);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  border-radius: 0.5rem;
  background-color: #7ed56f;
  color: white;
}
.btn-text:active {
  transform: translate(0);
}

.composition {
  position: relative;
}
.composition__photo {
  width: 55%;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
  border-radius: 0.1rem;
  position: absolute;
  transition: all 0.2s;
}
.composition__photo:hover {
  z-index: 20;
  transform: scale(1.2);
  outline: 1rem solid #7ed56f;
  outline-offset: 1rem;
  border-radius: 1rem;
  cursor: pointer;
}
.composition__photo:active {
  transform: scale(200%) translateX(-10rem);
}
.composition__photo__p1 {
  top: 0;
  left: 0;
}
.composition__photo__p2 {
  top: 5rem;
  left: 43%;
}
.composition__photo__p3 {
  top: 12rem;
  left: 17%;
}
.composition:hover .composition__photo:not(:hover) {
  transform: scale(0.9);
}

.feature-box {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 2.5rem;
  font-size: 1.5rem;
  text-align: center;
  width: 90%;
  transition: all 0.3s;
  border-radius: 0.3rem;
}
.feature-box__icon {
  font-size: 6rem;
  background-image: linear-gradient(to right, #7ed56f, #28b485);
  display: inline-block;
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
}
.feature-box:hover {
  transform: translateY(-1.5rem) scale(1.03);
  box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.4);
}

.header {
  height: 95vh;
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url(../img/hero-small.jpg);
  background-size: cover;
  background-position: top;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
          clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  position: relative;
}
.header__logo {
  height: 3.5rem;
}
.header__logo:hover {
  -webkit-animation-name: bounce;
          animation-name: bounce;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}
.header__logo-box {
  position: absolute;
  top: 4rem;
  left: 4rem;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}
.header__text-box {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.row {
  max-width: 114rem;
  margin: 0 auto;
}
.row:not(:last-child) {
  margin-bottom: 8rem;
}
.row::after {
  content: "";
  display: table;
  clear: both;
}
.row [class^=col-] {
  float: left;
  padding: 1rem;
}
.row [class^=col-]:not(:last-child) {
  margin-right: 2rem;
}
.row .col-1-of-2 {
  width: calc((100% - 2rem) / 2);
}
.row .col-1-of-3 {
  width: calc((100% - 2 * 2rem) / 3);
}
.row .col-1-of-4 {
  width: calc((100% - 3 * 2rem) / 4);
}
.row .col-2-of-3 {
  width: calc(
      2 * ((100% - 2 * 2rem) / 3) + 2rem
    );
}
.row .col-2-of-4 {
  width: calc(
      2 * ((100% - 3 * 2rem) / 4) + 2rem
    );
}
.row .col-3-of-4 {
  width: calc(
      3 * ((100% - 3 * 2rem) / 4) + 2 * 2rem
    );
}/*# sourceMappingURL=main.css.map */